---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />
<section aria-labelledby="aria__testing" class="py-5 text-center">
  <div class="container position-relative wvu-z-index-content">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <r:editable_region name="convenient testing block">
          <p>
            <img alt="A diagram about Skedda Desk management app" data-asset-id="196702" data-asset-version="877x578"
            src="/files/cbd13929-1bd8-4691-aa03-52841f01517d/877x578?cb=1629741569" style="background-color: transparent; font-size: 1rem;">
          </p>
          <h2 id="aria__testing" class="h2 text-wvu-blue pt-2">Convenient testing at your service.</h2>

          <p class="lead my-2 col-md-10 offset-md-1">Located in the newly renovated Hodges Hall, the University Testing Center houses
            200 workstations equipped with brand new hardwired PCs and an additional 8-seat
            Quiet Room for less distracting testing options. Email
            <a href="mailto:WVUTestingCenter@mail.wvu.edu">WVUTestingCenter@mail.wvu.edu</a> to book your seat. </p>
        </r:editable_region>
      </div>
    </div>
  </div>
</section>

<r:set_var name="instanceNumber" value="2" />
<r:set_var name="align" value="right" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<section aria-label="The University Testing Center features" class="pt-5 text-center bg-light">

  <div class="container wvu-z-index-content pb-5">
    <div class="row col-md-10 offset-md-1">
      <div class="col-sm-6 col-md-6 mb-3 mb-md-0">
        <r:editable_region name="faculty and instructors">
          <h2 class="h2 text-wvu-blue pt-2">Faculty and Instructors</h2>
          <p class="lead my-2">Book&nbsp;class exams&nbsp;for fixed testing schedules&nbsp;or offer students the
            flexibility&nbsp;to take exams within a set time period.
          </p>
        </r:editable_region>
      </div>
      <div class="col-sm-6 col-md-6 mb-3 mb-md-0">
        <r:editable_region name="test takers">
          <h2 class="h2 text-wvu-blue pt-2">Test Takers</h2>
          <p class="lead my-2">Select your desk just like you would a seat on an airplane through a visual floor plan and take your exam at the workstation of your choosing.
          </p>
        </r:editable_region>
      </div>
    </div>
  </div>


  <div class="container wvu-z-index-content pb-5">

    <div class="row col-md-10 offset-md-1">
      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <r:editable_region name="features 1">
          <span aria-hidden="true" class="fas fa-server text-white bg-wvu-gold rounded-circle p-3" style="font-size:3.5rem;"></span>
          <h3 class=" helvetica-neue-light  py-2 text-wvu-blue">Hardwired, independently networked PCs</h3>
        </r:editable_region>
      </div>
      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <r:editable_region name="features 2">
          <span aria-hidden="true" class="fas fa-video text-white bg-wvu-gold rounded-circle p-3" style="font-size:3.5rem;"></span>
          <h3 class=" helvetica-neue-light  py-2 text-wvu-blue">Monitored security cameras</h3>
        </r:editable_region>
      </div>
      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <r:editable_region name="features 3">
          <span aria-hidden="true" class="fas fa-desktop text-white bg-wvu-gold rounded-circle p-3"  style="font-size:3.5rem;"></span>
          <h3 class=" helvetica-neue-light  py-2 text-wvu-blue">eCampus-compatible testing</h3>
        </r:editable_region>
      </div>
      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <r:editable_region name="features 4">
          <span aria-hidden="true" class="far fa-calendar-alt text-white bg-wvu-gold rounded-circle p-3" style="font-size:3.5rem;"></span>
          <h3 class=" helvetica-neue-light  py-2 text-wvu-blue">Personalized, digital, user-friendly booking options for faculty and students</h3>
        </r:editable_region>
      </div>
      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <r:editable_region name="features 5">
          <span aria-hidden="true" class="fas fa-user-clock text-white bg-wvu-gold rounded-circle p-3" style="font-size:3.5rem;"></span>
          <h3 class=" helvetica-neue-light  py-2 text-wvu-blue">Fully Staffed Proctors</h3>
        </r:editable_region>
      </div>
      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <r:editable_region name="features 6">
          <span aria-hidden="true" class="far fa-clock text-white bg-wvu-gold rounded-circle p-3" style="font-size:3.5rem;"></span>
          <h3 class=" helvetica-neue-light  py-2 text-wvu-blue">Check-in/Check-out Stations</h3>
        </r:editable_region>
      </div>


    </div>

  </div>
</section>


<section aria-labelledby="aria__hours-location" class="bg-wvu-blue py-5 text-white">

  <div class="container wvu-z-index-content">

    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-6 mb-3 mb-md-0">
        <r:editable_region name="hours and location map region">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1258.2611960206127!2d-79.95485628625991!3d39.6342356741748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b990587202b15c9!2sHodges%20Hall!5e0!3m2!1sen!2sus!4v1630002170918!5m2!1sen!2sus"
            style="border:0;" allowfullscreen="" loading="lazy" title="Google Maps for Hodges Hall"></iframe>
          </div>
        </r:editable_region>
      </div>
      <div class="col-sm-6 col-md-6 mb-3 mb-md-0">
        <r:editable_region name="hours and location text block">
          <h2 id="aria__hours-location" class="h3 text-wvu-gold pt-2">Hours and Location</h2>
          <p class="lead ">Hodges Hall B10</p>
          <p class="lead my-4">Testing Center hours undetermined. Please email <a href="mailto:WVUTestingCenter@mail.wvu.edu">WVUTestingCenter@mail.wvu.edu</a>&nbsp;for more information.</p>
        </r:editable_region>
      </div>

    </div>

  </div>
</section>
