---
layout: default
custom_data_attributes:
  - ifBackpageRemoveNav:
    type: checkbox
    title: If backpage, remove nav
  - ifBackpageRemoveSidebar:
    type: checkbox
    title: If backpage, remove sidebar
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-action-hero-card" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:partial name="components/v2/wvu-backpage" theme="University Relations: WVU Design System" />
